#overlay {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}

#popup {
    padding: 16px;

    border-radius: var(--border-radius-primary);

    &[theme="dark"] {
        background-color: var(--bg-color-dark-primary);
    }
}